@model U2Complementario_CarlosValdez.Models.Menu
@{
    Layout = "View";
}

<section class="menu1">
    <img src="~/images/hamb1.jpg" />
    <div class="datos">
        <h3>$100.99</h3>
        <h2>CUARTO DE LIBRA CON QUESO</h2>
        <p>Un cuarto de libra de carne de res con dos rebanas de queso, cebolla, pepinillos, mostaza y una porción de tomate, todo en un pan con ajonjolí.</p>
    </div>
    <span>
        <a href="~/Home/Menu2">&lt;</a>
        <a href="~/Home/Menu1">&gt;</a>
    </span>
</section>
